<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>机构列表</title>
		<include th:replace="../templates/base/header"></include>
	</head>
	<body>
		<!-- container-fluid start-->
		<div class="container-fluid panel">
<!-- 			<table id="orgGrid" data-response-handler="responseHandler"> -->
			<!-- OVERVIEW -->
			
			
				<!-- 查询列表 -->
				<include th:replace="../templates/pages/auth/org/orgSearch" ></include>
				<!-- 查询模态框 -->
				<include th:replace="../templates/pages/auth/org/orgInsertModal" ></include>

			
			
			
			
			<!-- OVERVIEW end-->
		</div>
		<!-- container-fluid end-->
	</body>
	<include th:replace="../templates/base/footer"></include>
	<!--<script type="text/javascript" th:src="@{/js/pages/auth/org/datas.js}"></script>-->
	<script type="text/javascript" th:src="@{/js/pages/auth/org/org.js}"></script>



</html>